*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--color-primary-1: rgb(139, 172, 218);

	--c: rgb(21, 39, 63);
	--color-primary-2: rgb(0, 255, 247);
	--dark-blue-1: rgb(13, 25, 43);
	--dark-blue-2: rgb(20, 37, 61);
	--dark-blue-3: rgb(47, 65, 91);
	--white: hsl(0, 0%, 100%);

	/* FONT SIZE */
	--font-primary: 1.8rem;

	/*Border radius*/
	--primary-radius: 14px;
	--radius-circle: 50%;
}
img {
	display: block;
	object-fit: cover;
	width: 100%;
}
html {
	box-sizing: border-box;
	font-size: 62.5%;
}
p {
	font-size: var(--font-primary);
}
